<div class="budget-menu">
<%= link_to strip_tags("&#10132;"), categories_path, class: "back-arrow budget-menu-item menu-link" %>
<%= link_to "CATEGORIES", categories_path, class: "budget-menu-item" %>
<label for="category-icon" class="budget-menu-item menu-link">Save</label>
</div>
<div class="budget-header">
<p> Register Category </p>
<p>New</p>
</div>
<div class="budget-content category-register">
<%= form_with model: [@category] do |form| %>
    <div class="field" data-controller="loadfile">
        <label for="upload-icon" class="category-icon">
        <%= image_tag("title.png", data: { loadfile_target: "image" }, class: "image-content") %>
            <span>Upload Icon</span>
        </label>
    <%= form.file_field :image, data: { loadfile_target: "file", action: "change->loadfile#setpreview" }, class: "field-hidden", id: "upload-icon" %>
    </div>
    <div class="field">
      <%= form.text_field :name, placeholder: "Category Name" %>
    </div>
    <div class= "field-action">
    <%= form.submit "Add", id: "category-icon", class: "field-hidden" %>
    </div>
    <div class="field notification">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    </div>
  <% end %>
</div>
